PORT=5000

# Local MongoDB
# MONGODB_URI=mongodb://localhost:27017/smart_leads_db

# MongoDB Atlas (replace USER, PASSWORD, CLUSTER)
MONGODB_URI=mongodb+srv://smartleads_user:smartleads_user@smartleadscluster.k10crg3.mongodb.net/?appName=SmartLeadsCluster

JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d

//CLIENT_URL=http://localhost:5174

CLIENT_URL=https://smart-leads-dashboard-3n5u.vercel.app/
